extends base

block content
  div(class='row justify-content-md-center')
    h1 Listing Feed

  div(class='row', style='padding-top: 3%')
    each listing in feedItems
      div(class='col-md-3')
        div(style='padding: 5%')
          a.btn(type='button', class='btn btn-light listing', style='width:100%', href='/listings/#{listing.id}')
            img(src='images/default.jpg', width='100%')
            br
            div(class='listing-title') #{listing.name}
            div(class='listing-info') $#{listing.price}/#{listing.unit}
            div(class='listing-info') #{listing.timePosted}
    else
      div No Feed
